.tilesWrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tileBlock{
    width: 50%;
    height: 200px;
    float: left;
    position: relative;
}
.tileBlock__inner{
    position: absolute;
    width: 100%;
    height: 100%;
}
.tileBlock__inner__image{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}